<mat-card class="error" *ngIf="error">
  <h1>При выполнении запроса произошла ошибка!</h1>
  <p class="error_text">{{error.message}}</p>
  <p class="error_text" *ngIf="error.error.message">{{error.error.message}}</p>
</mat-card>

<main *ngIf="itemList.length > 0 ; else loading">
  <app-tree [itemList]="itemList" (onShowInfo)="showItemInfo($event)"></app-tree>
  <ng-template #itemInfo></ng-template>
</main>


<ng-template #loading>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
